<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuova Squadra</title>
   <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="form-container">
    <h2>Aggiungi Squadra</h2>
    <p class="error-msg" th:if="${messaggioErrore}" th:text="${messaggioErrore}"></p>

    <form th:action="@{/admin/squadra}" th:object="${squadra}" method="POST">
        <label>Nome Squadra</label>
        <input type="text" th:field="*{nome}" required placeholder="es. Napoli" />
        
        <label>Anno di Fondazione</label>
        <input type="number" th:field="*{annoDiFondazione}" required placeholder="es. 1926" />
        
        <label>Città</label>
        <input type="text" th:field="*{citta}" required placeholder="es. Napoli" />
        
        <button type="submit" class="btn-submit">Salva Squadra</button>
    </form>
    <a href="/" class="back-link">Torna alla Home</a>
</div>
</body>
</html>